{% extends "layout.twig" %}
{% block content %}
    <div class="row content">
        <div class="col-xs-12 white-grey">
            <div class="row top-heading">
                <div class="top-row">
                    <div class="col-xs-6 grey h-title">
                        <div class="photo">
                        </div>
                    </div>
                    <div class="col-xs-6 h-title grey-gradient">
                        <span class="img-title"></span>
                        <h2>Алгоритмическая торговля</h2>
                        <div class="divider"></div>

                    </div>
                </div>
            </div>
            <div class="row text-bl">
                <div class="col-xs-12">
                        <span class="gold-title">Группа профессиональных управляющих компании Invest-Gold создала уникальный алгоритмический робот,<br>
                            аналогов в мире которому нет использующий квантовый анализ и назвали его Quantum Gold.</span>
                    <div class="vrez">
                        <p><span class="gold-title">Квантовый анализ</span> - это тип прогнозирования, основанный на физических закономерностях квантовой механики. Данный метод анализа ценового движения
                            на бирже был разработан известным биржевым трейдером и бизнесменом Андре Дука. Квантовый анализ объясняет поведение цены с точки зрения законов
                            физики.  Для этого используются разнообразные приемы и методы Волновой механики.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="photo person"></div>
                    </div>
                    <div class="col-xs-10">
                        <div class="border-table">
                            <p>
                                Ярким примером, заработавший состояние, работая по квантовому анализу, вляется миллиардер Джордж Сорос.
                                Основанный в 1973 г. хедж-фонд Дж. Сороса Quantum Endowmen принес своим клиентам 32 млрд долл.</p>
                            <span class="gold-title">Команда опытных управляющих обеспечит профессиональную работу на Вашем счете</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-border">
                <h2>Пример работы <span class="gold-title">Quantum Gold</span></h2>
                <div class="photo infogr"></div>
                <div class="vrez">
                    <h2>ДОХОДНОСТЬ</h2>
                    <p>Принципы алготрейдинга в доверительном управлении используютсяпри разработке инвестиционных стратегий для достижения наиболеепривлекательного
                        соотношения риск/доходность, а также при созданиисложных продуктов для инвестирования свободных денежных средств накраткосрочном горизонте.</p>
                </div>
            </div>
            <div class="statistics">
                <h2>Статистика работы <span class="gold-title">Quantum Gold</span></h2>
                <div class="photo statistic"></div>
                <p>Наши профессиональные управляющие активами помогут определиться с выбором стратегии, исходя из Ваших предпочтений.</p>
            </div>
            <div class="form-ordr">
                <h2>Заполните заявку для получения консультации</h2>
                <div class="shema"></div>
            </div>

        </div>
    </div>
{% endblock %}