{% extends "layout.twig" %}
{% block content %}
<link href="style/pages/analitika.css" rel="stylesheet">
    <div class="row content">
        <div class="col-xs-12">
            <div class="row top-heading">
                <div class="top-row">
                    <div class="col-xs-5 grey h-title">
                        <div class="block-title">
                            <span class="img-title"></span>
                            <div class="hr-divider"></div>
                            <span class="img-title"></span>
                            <div class="hr-divider"></div>
                            <span class="img-title"></span>
                        </div>
                    </div>
                    <div class="col-xs-7 h-title grey-gradient">
                        <h1><span class="img-title">аналитика</span></h1>
                    </div>
                </div>
                <div class="bottom-row">
                    <div class="col-xs-7">
                        <div class="row black-bl">
                            <h1><span class="img-title right-title"></span></h1>
                            <div class="border-table">
                                <p>
                                    Аналитика от Invest Gold Качественная аналитика позволяет быть в курсе текущих
                                    рыночных трендов, а самое главное – дает возможность прогнозировать движение
                                    рынка на перспективу и зарабатывать на этом. Все аналитические материалы в
                                    данном разделе – это интеллектуальный труд штата аналитиков компании
                                    Invest Gold. Следите за публикациями наших экспертов, и вы сможете объективно
                                    оценивать ситуацию на мировых торговых площадках. С помощью
                                    профессионального анализа можно выгодно инвестировать свои средства.
                                </p>
                            </div>
                        </div>
                        <div class="bottom-photo">
                            <div class="photo"></div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="top-photo">
                            <div class="photo"></div>
                        </div>
                        <div class="row white-grey">
                            <h1><span class="right-title img-title"></span></h1>
                            <h2>Прогноз на неделю 16-20 февраля</h2>
                            <div class="vrez">
                                <p>
                                    Слабые темпы роста мировой экономики вкупе с
                                    недавним разочарованием от розничных продаж
                                    США, а также попытками решения российско-украинского и европейского-греческого конфликтов
                                    будут создавать для фондовых рынков все условия
                                    для роста. Для американских индексов все
                                    складывается как нельзя лучше, так как инвесторы
                                    начинают сомневаться, что Федрезерв будет
                                    торопиться с повышением ставки на
                                    фоне нестабильной экономической статистики.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row white-grey">
                <div class="col-xs-12">
                    <div class="vrez">
                        <p>Таким образом, у Dow Jones есть все шансы пробить 1800 и обновить рекордные максимумы выше 18100. Для Nasdaq дополнительным фактором поддержки
                            на пути к рекордному максимуму 4500 может стать уверенная динамика AAPL, наблюдаемая последнее время. Расчетная доля Apple в индексе Nasdaq
                            составляет 11,55%, делая его самым весомым среди остальных компонентов. Тем не менее, есть одно событие, которое может вызвать кратковременную
                            коррекцию американских индексов: публикация протокола прошлого заседания FOMC на грядущей неделе. Если риторика регулятора будет слишком
                            агрессивной, это может вызвать откат бенчмарков на 1-2% на ожиданиях скорого ужесточения монетарной политики.
                        </p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="vrez">
                        <p>
                            Германский DAX явно настроен обновить рекорды
                            выше 11200, чему немало способствует
                            ультрамягкая монетарная политика ЕЦБ. Однако
                            на грядущей неделе мы можем получить еще один
                            фактор для роста, если будут окончательно
                            согласованы отношения с Грецией. В понедельник
                            16 февраля состоится очередное заседание
                            министров финансов еврозоны. На прошлой
                            неделе Диссельблум намекнул, что к тому
                            моменту Греция должны сделать запрос о
                            продлении сроков программы, так как текущая
                            программа спасения завершается 28 февраля.
                        </p>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="epigf">
                        <div class="divider"></div>
                        <p style="text-align: center;">
                            Гонконгский индекс HSI на недостатке экономических событий и приближении Нового года
                            по лунному календарю может следовать общей тенденции или запереться в узких
                            диапазонах вблизи текущего уровня 24700.<br>
                            А вот для Nikkei (NKD) предстоящая неделя может стать интересной, учитывая и недавние
                            комментарии премьера Абэ о реализации дальнейшего процесса структурных реформ,
                            а также близящуюся публикацию данных по ВВП за 4 квартал, от которых ждут укрепления.<br>
                            Кроме того, стоит обратить внимание на пресс-конференцию Банка Японии
                            – если будут новые намеки на стимулирование экономики, это может дать индексу
                            стимул для пробоя сильного сопротивления на отметке 18000 с целью в районе 18230.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row bottom">
                <div class="top-row">
                    <div class="col-xs-5 black-bl">
                        <h1><span class="right-title img-title"></span></h1>
                        <h2>Прогноз на неделю 16-20 февраля</h2>
                        <div class="border-table">
                            <p>
                                Пара USD/RUB на ближайшей недели вновь
                                будет ориентироваться на развитие ситуации
                                на рынке энергоносителей и на политическом
                                фронте. Мирное соглашение в Минске
                                подписано, однако теперь наступает самый
                                главный этап – удержаться в рамках
                                договоренностей, так как нарушение
                                утвержденных пунктов может грозить
                                затяжным военным противостоянием.
                                Стоит внимательно следить за
                                комментариями официальных лиц с обеих
                                сторон конфликта, и если будут отмечаться
                                попытки идти навстречу друг другу, это будет
                                оказывать поддержку рублю. В первую
                                очередь, в связи с надеждами на скорую
                                отмену санкций со стороны Запада.
                            </p>
                            <div class="divider"></div>
                            <p>
                                Кроме того, рубль может укрепиться и на
                                динамике цен на нефть: Brent уверенно
                                движется вверх, и если данные Baker
                                Hughes подтвердят сокращение буровых
                                установок в действии, это способно
                                поддержать дальнейшее укрепление
                                «черного золота». Таким образом, велика
                                вероятность, при всех описанных
                                благоприятных условиях, увидеть рубль
                                ниже 60,00 с дальнейшей целью на отметке
                                59,40.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-7 grey">
                        <div class="photo"></div>
                        <h1><span class="right-title img-title"></span></h1>
                        <h2>Прогноз на неделю 16-20 февраля</h2>
                        <div class="vrez">
                            <span class="line-vrez"></span>
                            <p>
                                Котировки нефти Brent вновь вернулись выше 60 долл./барр. и вполне могут продолжить
                                движение вверх на ближайшей неделе. Большое внимание стоит уделить публикации
                                очередных данных от нефтедобывающей компании Baker Hughes, которая еженедельно
                                предоставляет данные по числу работающих буровых установок. Если показатель
                                продолжит резкое падение, это может подтолкнуть котировки актива выше 63,20 и открыть
                                путь к отметке 66,50, невиданной с декабря прошлого года. Однако серьезным
                                препятствием для «черного золота» могут вновь стать данные по коммерческим запасам
                                нефти в США, так как последний раз они показали увеличение объемов энергоносителя до
                                исторического максимума.

                            </p>
                        </div>
                        <div class="vrez">
                            <span class="line-vrez"></span>
                            <p>Позиции золота и cеребра все еще остаются под давлением, однако опасения по поводу
                                стабильности темпов восстановления американской экономики только на руку таким
                                «активам-убежищам». Кроме того, если процесс принятия решения по Греции затянется и
                                на рынках вновь появятся опасения о выходе страны из еврозоны, это может
                                спровоцировать новый всплеск спроса на безрисковые активы. Текущие довольно низкие
                                уровни по драгметаллам выглядят очень привлекательными для входа на рынок длинными
                                позициями. И это будет служить еще одним фактором в пользу роста данных активов:
                                по XAU/USD можно ждать возвращения в район $1270 за унцию,
                                а по XAG/USD – в область $17,90.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="bottom-row">
                    <div class="col-xs-12">
                        <div class="photo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}