{% extends "layout.twig" %}
{% block content %}
    <link href="style/pages/investitsionnye-portfeli.css" rel="stylesheet">
    <div class="row content">
        <div class="col-xs-12 white-grey">
            <div class="row top-heading">
                <div class="top-row">
                    <div class="col-xs-4 h-title grey-gradient">
                        <h1><span>Инвестиционные портфели</span></h1>
                    </div>
                    <div class="col-xs-8 white text-bl">
                        <div class="block-title">
                            <p>Управляющему счетом доступен широкий круг финансовых инструментов и стратегий управления.</p>

                            <p>По договору Вы являетесь собственником счета и можете в любой момент времени вывести
                                необходимый объем средств из управления, пополнить его или закрыть счет полностью.</p>

                            <p>Помощь нашим клиентам в реализации своего торгового потенциала является ключевым моментом
                                нашей деятельности и эталоном,по которому мы измеряем всю нашу работу. Более подробную
                                информацию по открытию счета, выбора управляющего активами вы можете получить у своего
                                персонального финансового консультанта.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 white-grey pattern">
            <div class="row invest">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="invest-photo"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 light-grey pattern">
            <div class="row statistics">
                <div class="col-xs-offset-1 col-xs-10">
                    <h2>заработай свои первые деньги на акциях всего в 4 шага</h2>
                    <div class="infografiq"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}