{% extends "layout.twig" %}
{% block content %}
    <link href="style/pages/khedzhirovanie-valyutnogo-riska.css" rel="stylesheet">
    <div class="row content">
        <div class="col-xs-12 white-grey">
            <div class="row top-heading">
                <div class="top-row">
                    <div class="col-xs-6 grey h-title">
                        <div class="photo">
                        </div>
                    </div>
                    <div class="col-xs-6 h-title grey-gradient">
                        <h2>Хеджирование валютного риска</h2>
                        <div class="divider"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 white-grey">
            <div class="row text-bl">
                <div class="col-xs-offset-1 col-xs-10">
                    <p>В результате изменения валютных курсов реальная стоимость покупаемого или продаваемого за валюту товара может значительно измениться, и контракт,
                        казавшийся выгодным, может в итоге оказаться убыточным Invest Gold предлагает эффективный инструмент, позволяющий минимизировать потерив
                        результате колебаний валютных курсов.</p>
                    <div class="shema-inf">
                        <div class="col-xs-4 colum-f">
                            <p>Курс доллар рубль Сбербанка  покупка /продажа
                                65/68, т.е потеря составит 3 млн. руб.</p>
                            <h2>обмен через сбербанк 68 мил. руб</h2>
                            <h2><span class="gold-title">потеря 3 мил. руб.</span></h2>
                            <div class="first-photo">1</div>
                        </div>
                        <div class="col-xs-4">
                            <div class="border-table">
                                <span class="gold-title">Пример: Возьмем сумму 68 млн. руб.</span>
                                <h2><span class="gold-title">1. ВЫГОДА ПРИ ОБМЕНЕ ВАЛЮТЫ</span></h2>
                            </div>
                        </div>
                        <div class="col-xs-4 colum-f">
                            <p>Курс доллар рубль напрямую через международный
                                валютный рынок  65/ 65,1 Потеря всего лишь 100 тыс. руб.</p>
                            <h2>обмен через invest gold 68 мил. руб</h2>
                            <h2><span class="gold-title">потеря 100 тыс. руб.</span></h2>
                            <div class="last-photo">1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 light-grey">
            <div class="row articl">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="border-table">
                        <span class="gold-title">Пример: Возьмем сумму 68 млн. руб.</span>
                        <h2><span class="gold-title">1. ВЫГОДА ПРИ ОБМЕНЕ ВАЛЮТЫ</span></h2>
                    </div>
                    <ul class="type">
                        <li><span class="gold-title">-</span> Например, инвестору нужно захеджировать 68 млн руб доллар/рубль (USD/RUB).</li>

                        <li><span class="gold-title">-</span> Открывается счет у надежного партнера, например Альфа-Банк, осуществляется перевод из рублей в доллары
                            по курсу международного валютного рынка, где разница между ценой покупки и продажи в разы.</li>

                        <li><span class="gold-title">-</span> Управляющий активами открывает сделку на 68 лот по валютной паре USD/RUB. Если курс доллара растет,
                            то инвестор не теряет на этом, т.к. курс захеджирован. Если курс падает, то позиция хеджируется в обратную
                            сторону. При этом задействовано в рынке всего лишь 10-20% капитала.</li>

                        <li><span class="gold-title">-</span> Таким образом, при обмене валюты на сумму 68 млн руб, происходит экономия около
                            3 млн руб, a также инвестор застрахован от резких колебаний валютного курса.</li>

                        <li><span class="gold-title">-</span> Возможны индивидуальные условия хеджирования валютного риска, когда есть возможность
                            зарабатывать на резких колебаниях, все зависит от предпочтений инвестора.</li>
                    </ul>
                    <div class="border-table">
                        <h2><span class="gold-title">Пример Хеджирования валютного риска</span></h2>
                    </div>
                    <div class="vrez">
                        <h2><span class="gold-title">- Пример</span></h2>
                        <p> Инвестор планирует купить в Европе через 3 месяца виллу на сумму 1 000 000 EUR. Инвестор рассчитал, что в соответствии с нынешним
                            курсом 1,3 USD за евро, ему необходимо будет потратитьна покупку евро 1 300 000 млн USD, что вполне его устроило. Если через три месяца
                            курс поднимется до 1,45 USD за евро, то инвестор, покупая евро по этой цене, понесет дополнительные расходы в размере 150 000 USD
                            (1 млн * (1,45-1,3)). Если же курс понизится до 1,25 USD за евро, то инвестор, наоборот, сэкономит 50 000 USD.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 white-grey">
            <div class="row articl">
                <div class="col-xs-offset-1 col-xs-10">
                    <p class="titl-imp"><span class="gold-title">Управляющий фиксирует курс EUR/USD по рыночной цене 1,3 открывая «длинную» позицию в 1 000 000 EUR, и закрывает сделку к
            моменту расчета с Инвестором. Для осуществления этой сделки управляющему  понадобится всего лишь 5 000 EUR (5%) в качестве
            гарантийного депозита (маржи). Рассмотрим какие возможны варианты на момент расчета с инвестором:</span></p>
                    <ul class="simpl">
                        <li> курс EUR/USD повысился до 1,45 (евро подорожал) — инвестор получает прибыль 150 000 USD (1млн х (1,45-1,3)). Т.е. дополнительные
                            затраты на покупку евро (150 000 USD) полностью компенсируются в результате проведения хеджирования.</li>

                        <li> курс EUR/USD повысился до 1,53 (евро подорожал) — инвестор получает прибыль 230 000 USD (1млн х (1,53-1,3)). Т.е. дополнительные
                            затраты на покупку евро (230 000 USD) полностью компенсируются в результате проведения хеджирования.</li>

                        <li> курс EUR/USD снизился до 1,22 (евро подешевел) — инвестор получает убыток 80 000 USD (1млн х (1,22-1,3)), но физическая покупка
                            1 000 000 евро по более доступной цене компенсирует убыток по позиции.Благодаря хеджированию управляющий зафиксировал курс валюты</li>

                    </ul>
                    <div class="titl-imp">
                        <h2><span class="gold-title">INVEST GOLD предлагает VIP Инвестору эффективный инструмент, позволяющий
                        минимизировать потери в результате колебаний валютных курсов.</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}