{% extends "layout.twig" %}
{% block content %}
    <link href="style/pages/partnery.css" rel="stylesheet">
    <div class="row content white-grey">
        <div class="col-xs-12">
            <div class="row top-heading">
                <div class="top-row">
                    <div class="col-xs-6">
                        <div class="row h-title grey-gradient">
                            <span class="img-title"></span>
                            <h1>INVEST GOLD</h1>
                            <div class="divider"></div>
                        </div>
                        <div class="top-photo">
                            <div class="photo"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="grey h-title">
                            <h2><span class="gold-title">Для наших клиентов предусмотрен доступ
                    к расширенному списку площадок через
                    надежных лицензированных брокеров, имеющих
                    качественный сервис и передовые технологии.</span></h2>
                            <div class="divider"></div>
                            <div class="about">
                                <h2>FxPro Financial Services Ltd</h2>
                                <p>
                                    <span class="gold-title">FxPro Financial Services Ltd</span> – это международная компания,
                                    предоставляющая инновационные брокерские услуги на финансовых
                                    рынках с головными офисами на Кипре, в Великобритании и российским
                                    представительством в Москве. FxPro авторизована и регулируется
                                    <span class="gold-title">Комиссией по ценным бумагам и биржам Кипра</span>
                                    и регулятором сферы
                                    финансовых услуг в Великобритании, имеет международную лицензию,
                                    разрешающую компании предоставлять инвестиционные услуги на
                                    международном уровне.
                                </p>
                                <div class="download-count">
                                    <a>
                                        <div class="gold-button">
                                            <span>Открыть счет</span>
                                        </div>
                                    </a>
                                    <div class="download">
                                        <span class="gold-title">Скачать терминал МТ4</span>
                                        <a>
                                            <div class="gold-button-small">
                                                <span>Скачать</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row article">
                <div class="col-xs-offset-1 col-xs-10">
                    <h1>
                        Преимущества для инвестора:
                    </h1>
                    <div class="border-table">
                        <ul>
                            <li>	Вы определяете стратегии, в которые вы желаете инвестировать средства.</li>
                            <li>Вы выбираете стиль управления рисками.</li>
                            <li>Вы можете закрыть весь портфель целиком в любой момент.</li>
                            <li>Быстрый и удобный ввод / вывод средств: Банковский перевод, кредитные / дебетовые карты и электронные платежи.</li>
                            <li>Мгновенный доступ к системе отчетов по торговому счету позволяет инвестору отслеживать торговую активность на своем счете в режиме online.</li>
                            <li>Средства клиентов хранятся только на отдельных (сегрегированных) счетах в крупнейших мировых банках инвестиционного уровня и ваши вклады
                                находятся под защитой фонда компенсации инвесторам.</li>
                        </ul>

                    </div>
                    <div class="safety-capital">
                        <h1>Защита капитала инвестора</h1>

                        <span class="gold-title"> 1. Сегрегированность клиентских средств.</span>
                        <div class="vrez">
                            <p> Все средства клиента, внесенные в FxPro, полностью отделены от средств компании и хранятся на разных банковских счетах. Это гарантирует, что средства,
                                принадлежащие клиентам, не могут быть использованы для других целей. Наши предварительные и годовые финансовые отчетности проходят проверку
                                PWC на Кипре. PWC является ведущим мировым финансовым аудитором, гарантируя, что наши операции проводятся в соответствии с самыми высокими
                                стандартами.</p>
                        </div>
                        <span class="gold-title">2. Участие в Фонде компенсации инвестора.</span>
                        <div class="vrez">
                            <p>FxPro является членом Фонда компенсации инвестора, предоставляя своим розничным клиентам дополнительную защиту. Право зависит от статуса и
                                характера спора. Пожалуйста, ознакомьтесь с нашими положениями и условиями для получения дополнительной информации.
                            </p>
                        </div>
                        <span class="gold-title">3.Средства вносятся в банки инвестиционного уровня.</span>
                        <div class="vrez">
                            <p>FxPro является партнером Европейских банков инвестиционного уровня, которые имеют одни из самых высоких рейтингов Moody's, Fitch и S&P. Работа
                                с глобальными банками, такими как Barclays и Credit Suisse AG гарантирует низкие риски возможные на рынке, для внесенных денежных средств.
                            </p>
                        </div>
                        <span class="gold-title">4.Регуляция CySEC (Кипрская комиссия по ценным бумагам и биржам).</span>
                        <div class="vrez">
                            <p>FxPro авторизована и регулируется Кипрской комиссией по ценным бумагам и биржам и придерживается строгих стандартов, в том числе требования
                                к достаточности капитала. Компания предоставляет финансовые отчеты в CySEC на регулярной основе, в том числе ежедневные сверки средств клиентов
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row article color-block-border">
                <div class="col-xs-offset-1 col-xs-10">
                    <h1>Alfa Forex LTD</h1>
                    <div class="text-bl">
                        <p>
                            <span class="gold-title">Alfa Forex LTD</span> - входит в состав «Банковской группы» Альфа-Банка. Банковская группа является частью Консорциума «Альфа-Групп».
                            Консорциум «Альфа-Групп», основанный в 1989 г., является одной из крупнейших частных инвестиционных групп в России. Интересы Консорциума
                            сосредоточены в следующих отраслях: добыча нефти и газа, коммерческая и инвестиционная банковская деятельность, управление активами, страхование,
                            розничная торговля, телекоммуникации, водоснабжение и водоотведение, а также специальные инвестиционные ситуации. Консорциум в основном
                            инвестирует в активы, имеющие долгосрочные перспективы увеличения стоимости, преимущественно в России и странах СНГ, а также в других странах,
                            отвечающих стратегическим целям Группы.
                        </p>
                    </div>
                    <h1>Почему Альфа-Форекс</h1>
                    <div class="container-advert">
                        <div class="col-xs-3">
                            <div class="border-table">
                                <h2><span class="gold-title">УДОБНО!</span></h2>
                                <p> Торговые платформы<br>
                                    MetaTrader<br>
                                    и<br>
                                    ActTrader<br>
                                    <br>
                                    Мобильные версии<br>
                                    для iPhone,<br>
                                    iPad и Android</p>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="border-table">
                                <h2><span class="gold-title">НАДЕЖНО!</span></h2>
                                <p> Партнер банка,<br>
                                    входящего в топ-5 крупнейших<br>
                                    банков России<br>
                                    <br>
                                    Клиентские сделки<br>
                                    крупнейшими маркет-мейкерами
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="border-table">
                                <h2><span class="gold-title">ДОСТУПНО!</span></h2>
                                <p> Открытие торгового<br>
                                    счета онлайн<br>
                                    <br>
                                    Ввод и вывод денежных<br>
                                    средств без комиссий

                                </p>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="border-table">
                                <h2><span class="gold-title">КАЧЕСТВЕННО!</span></h2>
                                <p> Моментальное<br>
                                    исполнение ордеров<br>
                                    <br>
                                    Дилинг и техподдержка<br>
                                    24 часа в сутки,<br>
                                    5 дней в неделю<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row sertif">
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                        <h2>Партнерские сертификаты</h2>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="border-table alfbank"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="border-table invest"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                        <h2>Наши партнеры</h2>
                        <div class="more-logo">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <img src="/images/logo-fxpro.jpg" alt="1" />
                                <img src="/images/bloo.jpg" alt="2" />
                                <img src="/images/Alfa-forex.jpg" alt="3" />
                                <img src="/images/alfa-bank.jpg" alt="4" />
                                <img src="/images/dowj.jpg" alt="5" />
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <img src="/images/Xerox.jpg" alt="1" />
                                <img src="/images/NYSE.jpg" alt="2" />
                                <img src="/images/london.jpg" alt="3" />
                                <img src="/images/american.jpg" alt="4" />
                                <img src="/images/nasdaq.jpg" alt="5" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}