{% extends "layout.twig" %}
{% block content %}
    <link href="style/pages/strategii-upravleniya-kapitalom.css" rel="stylesheet">
    <link href="style/pages/1300/strategii-upravleniya-kapitalom.css" rel="stylesheet">
    <link href="style/pages/1700/strategii-upravleniya-kapitalom.css" rel="stylesheet">
    <link href="style/pages/1980/strategii-upravleniya-kapitalom.css" rel="stylesheet">
    <div class="row content">
        <div class="col-xs-12">
            <div class="row heading">
                <div class="col-xs-4">
                    &nbsp;
                </div>
                <div class="col-xs-8">
                    <h1><span>Стратегии управления<br/> капиталом<span></span></span></h1>
                </div>
            </div>
            <div class="row white">
                <div class="col-xs-12">
                    <h2>Портфельное инвестирование</h2>

                    <div>
                        <p>В основе инвестиционной стратегии лежат принципы стоимостного инвестирования, разработанные
                            Бенджамином Грэмом и впоследствии многократно доказавшие эффективность на практике. Уорреном
                            Баффетом и прочими последователями подхода. В основе подхода лежит принцип маржи
                            безопасности –
                            предпочтение отдается компаниям, рыночная стоимость которых многократно ниже их внутренней
                            стоимости.</p>

                        <p>Инвестирование в акции международных компаний — один из способов размещения ваших средств на
                            фондовом рынке. Опытный портфельный управляющий поможет вам правильно оценить риски и
                            разработает для вас личную стратегию инвестирования. Он учтет вашипожелания и текущее
                            состояние
                            финансовых рынков для создания оптимального баланса риска и доходности.</p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <h2>Алгоритмическая торговля</h2>

                    <div>
                        <p>Принципы алготрейдинга в доверительном управлении используются при разработке инвестиционных
                            стратегий для достижения наиболее привлекательного соотношения риск/доходность, а также при
                            создании сложных продуктов для инвестирования свободных денежных средств на краткосрочном
                            горизонте.</p>
                    </div>

                    <p><a href="{{ app.url_generator.generate('алгоритмическая торговля') }}" class="pull-right">подробнее</a>
                    </p>
                </div>
            </div>
            <div class="row heading second">
                <div class="col-xs-4">
                    &nbsp;
                </div>
                <div class="col-xs-8">
                    <h1><img src="/images/consult.png"></h1>
                </div>
            </div>
            <div class="row gray">
                <div class="col-xs-12">
                    <p>Консультационное управление капиталом позволяет клиентам работать на международных рынках по
                        всему спектру инвестиционных финансовых инструментов и услуг. Консультации персонального
                        управляющего активами компании «Invest-Gold»LLC помогут сформировать оптимальный портфель, найти
                        лучший момент входа в рынок и закрытия позиции. Персональный трейдер постоянно следит за
                        котировками и оперативно предлагает инвестиционные идеи, которые подбираются с учетом допустимой
                        степени риска и ожидаемой доходности. У Вас будет возможность повысить трейдерские умения и
                        получить практические навыки в процессе реальной торговли на международных финансовых
                        рынках.</p>

                    <div class="border-table">
                        <p class="text-left">Персональный управляющий активами – высококвалифицированный специалист с большим опытом
                            работы на глобальных финансовых рынках.</p>
                        <ul>
                            <li>Персональный управляющий активами – высококвалифицированный специалист с большим опытом
                                работы на глобальных финансовых рынках.
                            </li>
                            <li>Индивидуальные стратегии инвестирования, учитывающие как сложившуюся конъюнктуру на
                                рынке, так и пожелания клиента;
                            </li>
                            <li>Своевременные и актуальные прогнозы по потенциальным движениям цен на биржевые активы;
                            </li>
                            <li>Отлаженная система риск-менеджмента, качественное управление открытыми позициями.</li>
                            <li>Индивидуальный подход и постоянная связь с управляющим активами.</li>
                            <li>Постоянный мониторинг международных площадок и отбор лучших идей по всему миру.</li>
                            <li>Контроль Вашего счета и оперативный риск-менеджмент.</li>
                            <li>Активы подконтрольны только Клиенту – совершение сделок исключительно с Вашего
                                согласия.
                            </li>
                        </ul>
                    </div>

                    <div class="border-table">
                        <p class="text-left">Мы предоставляем: </p>
                        <ul>
                            <li>Возможность зарабатывать вне зависимости от роста или падения рынка.
                            </li>
                            <li>Возможность составить индивидуальный инвестиционный портфель на любой горизонт
                                инвестирования.
                            </li>
                            <li>Ежедневные инвестиционные идеи, соответствующие ситуации на рынке.
                            </li>
                            <li>Консультации и аналитическую поддержку.</li>
                            <li>Качественный risk-management.</li>
                            <li>Гибкий money-management.</li>
                        </ul>
                    </div>
                    <div class="uppercase">
                    <p>Международные финансовые рынки дают возможность совершать операции с тысячами инструментов. Это
                        дает большую свободу выбора торговых идей и создает отличные условия для диверсификации
                        рисков.</p>

                    <p>Получить более подробную информацию и узнать об актуальных идеях можно у персонального
                        консультанта.</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}