p{
    color: #fff;
}
h1 {
    text-transform: uppercase;
    font-size: 140%;
    color: #ffffff;
}
h2 {
    text-transform: uppercase;
    font-size: 100%;
    color: #ffffff;
    margin: 10px 0; /*1980*/
}
h1 span:after {
    display: block;
    content: ' ';
    margin-top: 10px;
    background-image: url("/images/gold-header-after.png");
    width: 110px;
    margin-left:auto;
    margin-right: auto;
    height: 1px;
}
h1 span.img-title {
    display: block;
    position:relative;
}
h1 span.right-title:after {
    display: none;
}
h1 span.right-title:before {
    display: inline-block;
    content: ' ';
    background-image: url("/images/hr.png");
    background-repeat: no-repeat;
    margin-right: 20px;
    height: 36px;
    width: 2px;
    background-size: contain;
    vertical-align: middle;
}
span.gold-title {
    color: #d3b98c;
    font-size: 120%;
}
.vrez p {
    margin-left: 20px;
}
.vrez:before {
    display: block;
    float: left;
    content: ' ';
    background-image: url("/images/hr.png");
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-right: 10px;
    height: 36px;
    width: 2px;
    background-size: contain;
    vertical-align: text-top;
}
.black-bl {
    background-color: #000000;
}
.grey {
    color: #ffffff;
    background-color: #363637;
}
.dark-grey {
    background-color: #242424;
}
.grey-gradient {
    color: #fff;
    background: rgb(76,76,76);
    background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(111,111,111,1) 50%, rgba(76,76,76,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(76,76,76,1)), color-stop(50%,rgba(111,111,111,1)), color-stop(100%,rgba(76,76,76,1)));
    background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%,rgba(111,111,111,1) 50%,rgba(76,76,76,1) 100%);
    background: -o-linear-gradient(left, rgba(76,76,76,1) 0%,rgba(111,111,111,1) 50%,rgba(76,76,76,1) 100%);
    background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%,rgba(111,111,111,1) 50%,rgba(76,76,76,1) 100%);
    background: linear-gradient(to right, rgba(76,76,76,1) 0%,rgba(111,111,111,1) 50%,rgba(76,76,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#4c4c4c',GradientType=1 );
    text-align: center;
}
.content .top-heading {
}
.content .top-heading .top-row,
.top-heading .top-row .h-title.grey .photo {
    height: 350px;
    height: 300px;/*1700px*/
    height: 230px;/*1300px*/
}
.top-heading .top-row .h-title.grey .photo {
    background-image: url('/images/algoritm_quantum.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
}
.top-heading .top-row .h-title.grey-gradient h2 {
    font-size: 110%;
}

.top-heading .top-row .h-title.grey-gradient span.img-title {
    display: block;
    height: 24px;
    content: "";
    background-image: url('/images/quantum-gold-title.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 130px;
    margin-top: 110px;/*1700*/
    margin-top: 80px;/*1300*/
}
.divider {
    display: block;
    content: ' ';
    background-image: url("/images/gold-header-after.png");
    width: 110px;
    margin-left:auto;
    margin-right: auto;
    height: 1px;
}
.hr-divider{
    border-bottom: 1px solid #ffffff;
    width: 140px;
    margin: 16px auto;
}

.content .white-grey {
    background-color: #363637;
}
.content .white-grey .text-bl {
    padding: 30px 120px;
    padding: 30px 80px;/*1700*/
    padding: 30px 40px;/*1700*/
}

.content .white-grey .text-bl .vrez {
    margin-bottom: 30px;
}

.content .white-grey .text-bl .photo.person {
    background-image: url('/images/algoritm_human.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 202px;
    height: 198px;
    margin-left: -15px;
    margin-right: -15px;
}
.content .white-grey .text-bl .border-table {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    height: 198px;
    padding: 30px 20px;
    padding: 20px 20px;/*1200*/
}
.content .white-grey .text-bl .border-table p {
    vertical-align: middle;
    margin-bottom: 0;
    line-height: 2;
}
.content .white-grey .text-bl .border-table p, span {
    font-size: 100%;
}
.content .white-grey .text-bl .border-table span.gold-title{
    display: block;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-top: 30px;
    margin-top: 0px;/*1300*/
}

.content h1 span.img-title.right-title {
    margin: 40px 0 20px 0;
}

.content .bottom .top-row .black-bl h2,
.content .top-heading .bottom-row .black-bl h1,
.content .top-heading .bottom-row .black-bl .img-title,
.bottom .top-row .black-bl h1 {
    text-align: center;
}

.content .bottom .bottom-row h1 {
    margin-top: 0;
}

.content .white-grey .text-bl span.gold-title {
    display: block;
    margin-bottom: 30px;
    text-align: center;
}
.content .white-grey .text-bl .vrez span.gold-title {
    display: inline-block;
    font-size: 100%;
    color: #d7bc8d;
    text-align: left;
    margin-bottom: 0;
}

.content>.top-heading >.top-row > div {
    height: inherit;
    text-transform: uppercase;
}
.border-table {
    padding: 20px;
    padding-bottom: 10px;
    margin: 20px;
    border-radius: 10px;
    border-top: 1px solid #53443a;
    border-bottom: 1px solid #53443a;
    border-left: 1px solid #8f7856;
    border-right: 1px solid #8f7856;
}
.epigf h1 {
    margin-top: 0;
    -        }
.epigf .divider {
    margin-bottom: 10px;
}
.epigf h1 span:after {
    margin-top: 0;
}
.h-title {
    height: inherit;
}

.content .white-grey .block-border {
    border-top: 1px solid #4c4d4e;
    border-bottom: 1px solid #4c4d4e;
}
.content .white-grey .block-border h2 {
    text-align: center;
}
.content .white-grey .block-border .vrez h2 {
    text-align: left;
}
.content .white-grey .block-border .photo.infogr {
    background-image: url('/images/quantum-infographic.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 496px;
    height: 426px;/*1700px*/
    height: 326px;/*1300px*/
    background-size: contain;
    margin-left: -15px;
    margin-right: -15px;
}
.content .white-grey .statistics {
    border-bottom: 1px solid #4c4d4e;
    text-align: center;
}
.content .white-grey .statistics .photo.statistic {
    background-image: url('/images/quantum-statistics.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 496px;
    height: 426px;/*1700px*/
    height: 326px;/*1300px*/
    background-size: contain;
    margin-left: -15px;
    margin-right: -15px;
}
.content .white-grey .form-ordr {
    text-align: center;
}
.content .white-grey .form-ordr .shema {
    background-image: url('/images/algoritm_torg_text5.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 496px;
    height: 426px;/*1700px*/
    height: 326px;/*1300px*/
    background-size: contain;
    margin-left: -15px;
    margin-right: -15px;
}