p{
    color: #fff;
}
h1 {
    text-transform: uppercase;
    font-size: 120%;
    color: #ffffff;
}
h2 {
    text-transform: uppercase;
    font-size: 100%;
    color: #ffffff;
    margin: 10px 0; /*1980*/
}
h1 span:after {
    display: block;
    content: ' ';
    margin-top: 10px;
    background-image: url("/images/gold-header-after.png");
    width: 110px;
    margin-left:auto;
    margin-right: auto;
    height: 1px;
}
h1 span.img-title {
    display: block;
    position:relative;
}
h1 span.right-title:after {
    display: none;
}
h1 span.right-title:before {
    display: inline-block;
    content: ' ';
    background-image: url("/images/hr.png");
    background-repeat: no-repeat;
    margin-right: 20px;
    height: 36px;
    width: 2px;
    background-size: contain;
    vertical-align: middle;
}
.vrez p {
    margin-left: 20px;
}
.vrez:before {
    display: block;
    float: left;
    content: ' ';
    background-image: url("/images/hr.png");
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-right: 10px;
    height: 36px;
    width: 2px;
    background-size: contain;
    vertical-align: text-top;
}
.black-bl {
    background-color: #000000;
}
.grey {
    color: #ffffff;
    background-color: #363637;
}
.dark-grey {
    background-color: #242424;
}
.grey-gradient {
    color: #fff;
    background: rgb(76,76,76);
    background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(111,111,111,1) 50%, rgba(76,76,76,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(76,76,76,1)), color-stop(50%,rgba(111,111,111,1)), color-stop(100%,rgba(76,76,76,1)));
    background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%,rgba(111,111,111,1) 50%,rgba(76,76,76,1) 100%);
    background: -o-linear-gradient(left, rgba(76,76,76,1) 0%,rgba(111,111,111,1) 50%,rgba(76,76,76,1) 100%);
    background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%,rgba(111,111,111,1) 50%,rgba(76,76,76,1) 100%);
    background: linear-gradient(to right, rgba(76,76,76,1) 0%,rgba(111,111,111,1) 50%,rgba(76,76,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#4c4c4c',GradientType=1 );
    text-align: center;
}
.content .top-heading {
}
.content .top-heading .top-row {
    height: 350px;
    height: 300px;/*1700px*/
    height: 230px;/*1300px*/
}
.top-heading .top-row .h-title.grey .block-title {
    text-align: center;
    margin-top: 100px;
    margin-top: 80px;/*1700px*/
    margin-top: 45px;/*1300px*/
}
.top-heading .top-row .h-title.grey .block-title .img-title:nth-child(1) {
    display: block;
    height: 24px;
    content: "";
    background-image: url('/images/analityka_fond_merchant.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.top-heading .top-row .h-title.grey .block-title .img-title:nth-child(3) {
    display: block;
    height: 24px;
    content: "";
    background-image: url('/images/analityka_forex.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.top-heading .top-row .h-title.grey .block-title .img-title:nth-child(5) {
    display: block;
    height: 24px;
    content: "";
    background-image: url('/images/analityka_products_merchant.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.divider {
    display: block;
    content: ' ';
    background-image: url("/images/gold-header-after.png");
    width: 110px;
    margin-left:auto;
    margin-right: auto;
    height: 1px;
}
.hr-divider{
    border-bottom: 1px solid #ffffff;
    width: 140px;
    margin: 16px auto;
}

.content .top-heading .bottom-row .black-bl span.img-title {
    display: block;
    height: auto;
    content: "";
    width: 180px;
    background-image: url('/images/analityka_title.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
}
.content .top-heading .bottom-row .black-bl span.right-title:before {
    display: block;
}
.content .top-heading .bottom-row .white-grey span.img-title {
    display: block;
    height: auto;
    content: "";
    background-image: url('/images/fond_merchant_title.png');
    background-repeat: no-repeat;
    background-position: 20px center;
}

.content .bottom .top-row .black-bl span.img-title {
    display: block;
    height: auto;
    width: 110px;
    margin: auto;
    content: "";
    background-image: url('/images/forex_title.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.content .bottom .top-row .black-bl h1 span.right-title:before {
    display: block;
}

.content .bottom .top-row .grey span.img-title {
    display: block;
    height: auto;
    content: "";
    background-image: url('/images/fond_merchant_title.png');
    background-repeat: no-repeat;
    background-position: 20px center;
}

.top-heading .top-row .h-title.grey-gradient h1 {
    margin-top: 150px;
    margin-top: 130px;/*1700px*/
    margin-top: 90px;/*1300px*/
}

.content > div> .white-grey {
    padding: 40px 20px;
}
.content .white-grey {
    background-color: #363637;
}

.content .white-grey div:first-child .vrez {
    padding-bottom: 40px;
}
.content .top-heading .bottom-row .black-bl,
.content .top-heading .bottom-row .white-grey {
    padding-left: 15px;
    padding-right: 15px;;
}
.content .top-heading .bottom-row .black-bl,
.content .top-heading .bottom-row .top-photo .photo{
    height: 505px;
    height: 434px;/*1700px*/
    height: 332px;/*1300px*/
}
.content .top-heading .bottom-row .top-photo .photo{
    background-image: url('/images/analitics1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
}
.content .top-heading h1 span.img-title.right-title {
    margin: 40px 0 20px 0;/*1700px*/
    margin: 20px 0 10px 0; /*1300px*/
}
.content h1 span.img-title.right-title,
.content .bottom .black-bl h1 {
    margin: 40px 0 20px 0;
}
.content .bottom .top-row .black-bl h2,
.content .top-heading .bottom-row .black-bl h1,
.content .top-heading .bottom-row .black-bl .img-title,
.bottom .top-row .black-bl h1 {
    text-align: center;
}
.content .bottom .bottom-row h1 {
    margin-top: 0;
}
.content .top-heading .bottom-row .border-table,
.bottom .top-row .border-table{
    margin-left: 220px;/*1980*/
    margin-left:180px;/*1700px*/
    margin-left: 0px;/*1300px*/
}
.content .top-heading .bottom-row .bottom-photo .photo{
    background-image: url('/images/analitics_persons.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
}
.content .top-heading .bottom-row .white-grey,
.content .top-heading .bottom-row .bottom-photo .photo{
    height: 500px;
    height: 430px;/*1700px*/
    height: 328px;/*1300px*/
}
/*.content .top-heading .bottom-row {
    height: 505px;
    height: 434px;/*1700px*/
/*  height: 332px;/*1300px
}*/
.content .white-grey {
    background-color: #363637;
}

.content>.top-heading >.top-row > div {
    height: inherit;
    text-transform: uppercase;
}
.border-table {
    padding: 20px;
    padding-bottom: 10px;
    margin: 20px;
    border-radius: 10px;
    border-top: 1px solid #53443a;
    border-bottom: 1px solid #53443a;
    border-left: 1px solid #8f7856;
    border-right: 1px solid #8f7856;
}
.epigf h1 {
    margin-top: 0;
}
.epigf .divider {
    margin-bottom: 10px;
}
.epigf h1 span:after {
    margin-top: 0;
}
.h-title {
    height: inherit;
}
.content .bottom .top-row {
    height: 830px;
    height: 712px;/*1700px*/
    height: 545px;/*1300px*/
}
.content .bottom .top-row .photo {
    background-image: url('/images/analitics_forex.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 496px;
    height: 426px;/*1700px*/
    height: 326px;/*1300px*/
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
}
.content .bottom .black-bl .divider{
    margin-top: 40px;
    margin-bottom: 40px;
}
.content .bottom .bottom-row {
    height: 665px;
    height: 571px;/*1700px*/
    height: 260px;/*1300px*/
}
.content .bottom .bottom-row .photo {
    background-image: url('/images/analitics_down.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 665px;
    height: 571px;/*1700px*/
    height: 260px;/*1300px*/
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 1700px) {

}

@media (min-width: 1300px) {

}